$offWhite: #f1f1f1;
$green: #28a939;

body {
  margin-bottom: 15px;
  background: white;
  font-family: 'Open Sans', sans-serif;
}

ul li ul li {
  list-style-type: circle;
}

.menu li a:hover, .logo li a:hover {
  text-decoration: none;
}

.logo {
  text-align: center;
}

ul.logo {
  margin: 5px 0;
}

a, a:hover, a:focus, a:visited {
  color: darken($green, 10%);
}

a:hover {
  text-decoration: underline;
}

.button.primary, .button.primary:focus, .button.primary:hover {
  color: white;
}

.button.hollow {
  color: white;
  border: 1px solid white;
}

.logo li a {
  font-size: 2.2em;
}

.title-bar, .title-bar ul {
  background: white;
}

.title-bar a {
  color: $green;
}

.top-menu {
  border-bottom: 2px solid $green;
  align-items: center;
}

.bottom-menu li a {
  color: $green;
}

h1, h2, h3, h4, h5, h6 {
  color: darken($green, 10%);
  font-family: 'Open Sans', sans-serif;
}

.top-padding {
  padding-top: 15px;
}

.top-margin {
  margin-top: 15px;
}

.vert-outer {
  display: flex;
  align-items: center;
}

.callout {
  background: darken($green, 7%);
  .button {
    margin-top: 15px;
  }
}
.callout h1, .callout h2 {
  color: white;
  font-weight: bolder;
}

@media screen and (max-width: 40em) {
  .menu a {
    padding-left: 7px;
    padding-right: 7px;
  }
  .callout.large {
    padding: 1.8rem;
  }
}

@media screen and (min-width: 40em) {
  .callout h1, .callout h2 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  }
  .callout {
    background: url("../img/background_cropped.jpg") no-repeat center center;
    background-size: cover;
    h1 {
      font-size: 4rem
    }
    h2 {
      font-size: 2.5rem;
    }
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.4rem;
  }
  h3 {
    font-size: 1.2rem;
  }
  h4 {
    font-size: 1rem;
  }
}
