<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="An experimental dietary program for cancer and neurological disorders">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/ico" href="img/favicon.ico">
    <title>potterketogenic.diet</title>
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
  </head>
<body>
  {{> top_menu}}
  {{> body}}
  <hr>
  {{> bottom_menu}}
  <script src="{{root}}assets/js/app.js"></script>
</body>
</html>
